@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.container {
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33.33333%;
}

.w-50 {
  width: 50%;
}

.w-66 {
  width: 66%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-full {
  width: 100%;
}

.d-lg-none {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .justify-sm-between {
    justify-content: space-between;
  }
  .w-sm-33 {
    width: 33%;
  }
  .w-sm-50 {
    width: 50%;
  }
  .d-inline-block {
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .flex-sm-col {
    flex-direction: column;
  }
  .w-sm-full {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .w-md-50 {
    width: 50%;
  }
  .w-md-25 {
    width: 25%;
  }
  .w-md-full {
    width: 100%;
  }
  .mx-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
.text-center {
  text-align: center;
}

.text-xs {
  font-size: 0.9rem;
}

.text-sm {
  font-size: 1.2rem;
  font-weight: 500;
}

.text-md {
  font-size: 18px;
  font-weight: 600;
}

.text-lg {
  font-size: 24px;
  font-weight: 700;
}

.text-xl {
  color: #505050;
  font-size: 30px;
  font-weight: 500;
}

.text-4xl {
  font-size: 2rem;
}

.inner-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1em;
}

.text-brown {
  position: relative;
  color: #C0944A;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}
.text-brown::after {
  position: absolute;
  content: "";
  width: 6%;
  height: 4px;
  border-radius: 0.5rem;
  background-color: #C0944A;
  bottom: 0;
  left: 46.7%;
}

.text-white {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .text-4xl {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  .text-right {
    text-align: right;
  }
}
.btn {
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1em;
  outline: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn-brown {
  font-size: 1.1rem;
  color: #fff;
  padding: 1rem 4rem;
  background-color: #C0944A;
}
.btn-brown:hover {
  opacity: 0.7;
}

.btn-brown-outline {
  background-color: #F4E8B5;
  color: #C0944A;
  padding: 1rem 4rem;
  border: 1px solid #C0944A;
}
.btn-brown-outline:hover {
  background-color: #C0944A;
  color: #fff;
}

.form-control {
  width: 100%;
  padding: 0.8rem 1rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

html,
body {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.95rem;
  background: #C0944A;
}

p,
ul,
li {
  font-size: inherit;
  padding: 0;
  margin: 0;
}

a,
i {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  transition: 0.3s;
}

.bg-brown {
  background-color: #F4E8B5;
}

.bg-darkbrown {
  background-color: #C0944A;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.product-items-swiper {
  position: static;
}
.product-items-swiper .swiper-wrapper {
  align-items: center;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.nav-btn {
  display: none;
}

.main-header {
  padding-bottom: 0.5rem;
}
.main-header .ml-8 {
  margin-left: 1rem;
}
.main-header .nav-btn {
  font-size: 2rem;
  color: #C0944A;
  margin-right: 1rem;
}
.main-header .top-nav {
  border-bottom: 1px solid #E2E0E0;
  padding: 0.7rem 0;
}
.main-header .top-nav .left-header {
  gap: 80px;
}
.main-header .top-nav .left-header span {
  color: #C0944A;
  font-weight: 600;
}
.main-header .top-nav .left-header span.text-xs {
  color: #272829;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.main-header .form-group {
  max-width: 560px;
  width: 500px;
  margin-right: 1.5rem;
}
.main-header .form-control {
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 30px;
  padding: 1.1rem 0.8rem;
}
.main-header .btn-brown {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  top: 1.2px;
  right: 1.2px;
}
.main-header .bottom-nav {
  font-size: 1.1rem;
  font-weight: 500;
}
.main-header .bottom-nav .navbar {
  padding: 0.5rem 0;
}
.main-header .bottom-nav .navbar li {
  position: relative;
  padding: 1rem 0 0.5rem 0;
  margin-right: 1.8rem;
}
.main-header .bottom-nav .navbar li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #C0944A;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.main-header .bottom-nav .navbar li:hover {
  color: #C0944A;
}
.main-header .bottom-nav .navbar li:hover::after {
  width: 100%;
}
.main-header .bottom-nav .navbar li:hover a.active {
  color: #C0944A;
}
.main-header .bottom-nav .lang-nav li {
  font-weight: 600;
  color: #C0944A;
  margin-right: 0.5rem;
}
.main-header .bottom-nav .lang-nav li:hover {
  color: #ccc;
}
.main-header .bottom-nav .mobile-logo {
  display: none;
}
.main-header .bottom-nav .nav-social-links {
  display: none;
}
.main-header .bottom-nav .mobile-search {
  display: none;
}

.nav-social-links {
  margin-left: 1rem;
}
.nav-social-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #C0944A;
  border: 1px solid #C0944A;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.nav-social-links li:hover {
  transform: scale(1.05);
}

.banner-bg {
  height: calc(100vh - 50px);
  background-image: url(../images/banners/banner-1.png);
  background-size: cover;
  background-position: center;
}
.banner-bg .banner-content {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 30%;
  left: 23%;
  color: #fff;
  text-align: center;
}
.banner-bg .banner-content .banner-title {
  font-weight: 700;
  line-height: 39.01px;
  letter-spacing: 0.1em;
}
.banner-bg .banner-content .inner-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1em;
  padding: 1rem 0 2.5rem 0;
}

.about-section {
  padding: 4rem 0;
}
.about-section .section-img {
  margin-bottom: 2rem;
}
.about-section .content-box {
  padding: 0 1.5rem;
}
.about-section .inner-text {
  padding-bottom: 2.5rem;
}

.section-head .text-sm {
  color: #C0944A;
}
.section-head .text-lg {
  line-height: 24px;
  letter-spacing: 2px;
  padding: 0.5rem 0;
}
.section-head .text-brown {
  padding: 1rem 0;
}

.popular-section {
  padding: 2.5rem 0;
  background-color: #F4E8B5;
}
.popular-section .item .item-img {
  overflow: hidden;
}
.popular-section .item .item-img img {
  transition: 0.8s;
}
.popular-section .item .item-title {
  color: #C0944A;
}
.popular-section .item:hover img {
  transform: scale(1.05);
}

.items-box {
  padding: 2.5rem 0;
}
.items-box .item {
  padding: 1rem;
}
.items-box .item img {
  border-radius: 0.5rem;
}
.items-box .item .item-title {
  padding: 1rem 0;
}

.home-products-section {
  position: relative;
  height: 100%;
  background: #FFFDF4;
  padding: 2.5rem 0;
}
.home-products-section .container {
  height: 100%;
}

.product-items {
  padding: 2.5rem 0;
}
.product-items .item {
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 3px 3px 12px 0px rgba(192, 148, 74, 0.1215686275);
  border-radius: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  background-image: url(../images/icons/icon-1.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right;
}
.product-items .item .item-title {
  color: #C0944A;
}
.product-items .item .item-img img {
  position: relative;
  bottom: -63px;
  transition: 0.5s linear;
}
.product-items .item:hover img {
  transform: scale(1.08);
}
.product-items .item .icon {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 10px;
  right: 15px;
  overflow: hidden;
}
.product-items .swiper-button-next,
.product-items .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C0944A;
  transition: 0.3s linear;
  top: 60%;
}
.product-items .swiper-button-next::after,
.product-items .swiper-button-prev::after {
  font-size: 1.5rem;
  color: #fff;
}
.product-items .swiper-button-next:hover,
.product-items .swiper-button-prev:hover {
  opacity: 0.8;
}
.product-items .swiper-button-next.swiper-button-prev,
.product-items .swiper-button-prev.swiper-button-prev {
  left: 2%;
}
.product-items .swiper-button-next.swiper-button-next,
.product-items .swiper-button-prev.swiper-button-next {
  right: 3%;
}

.footer-section .footer-top {
  padding: 2.5rem 0 0 0;
  border-bottom: 1px solid #fff;
}
.footer-section .footer-top .logo {
  display: inline-block;
  width: 200px;
}
.footer-section .footer-top .navbar li {
  margin-right: 2rem;
}
.footer-section .footer-top .footer-left .social-links {
  color: #fff;
  padding: 1.5rem 0;
}
.footer-section .footer-top .footer-left .social-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.footer-section .footer-top .footer-left .social-links li:not(:last-child) {
  margin-right: 1rem;
}
.footer-section .address-list {
  margin-top: 3.8rem;
}
.footer-section .navbar {
  padding: 1rem 0;
  color: #fff;
}
.footer-section .navbar .icon {
  margin-right: 5px;
}
.footer-section .copyright {
  padding: 1.5rem 0;
}

.breadcrumb-section {
  background-image: url(../images/icons/icon-1.png), url(../images/icons/icon-2.png), url(../images/icons/icon-3.png), linear-gradient(270deg, #F4E8B5 0%, #C0944A 100%);
  padding: 3.5rem 0;
  height: 300px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, bottom left, top right;
  background-size: 10%, 8%, 10%, cover;
}
.breadcrumb-section .breadcrumb-item {
  padding-bottom: 1.2rem;
}
.breadcrumb-section .breadcrumb-item li {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  margin-right: 0.5rem;
}
.breadcrumb-section .breadcrumb-item li:nth-child(2) {
  font-size: 10px;
}

.preferences-section {
  padding: 2.5rem;
}
.preferences-section .item {
  background-color: #FFFDF4;
  border-radius: 1rem;
  padding: 2.5rem;
  margin: 0 2rem 2.5rem 0;
}
.preferences-section .item .item-img {
  max-width: 150px;
  margin-bottom: 1.5rem;
}
.preferences-section .item .text-md {
  font-weight: 500;
  text-transform: uppercase;
}
.preferences-section .inner-text {
  padding: 2.5rem 0;
}

.brands-section {
  background: #FFFDF4;
  padding: 2.5rem 0;
}
.brands-section .item {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.catalog-section {
  padding: 3.5rem 0;
  background-color: #FFFDF4;
}
.catalog-section .catalog-list li {
  text-align: center;
  font-size: 1.15rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #FDF7ED;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.catalog-section .catalog-list li.active, .catalog-section .catalog-list li:hover {
  background-color: #C0944A;
  color: #fff;
}
.catalog-section .product-items {
  padding-left: 1rem;
}
.catalog-section .product-list {
  padding-left: 1rem;
}

.filter-box {
  position: relative;
  font-size: 0.9rem;
  min-width: 150px;
}
.filter-box:first-child .default {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.filter-box .default {
  padding: 1rem 0.5rem;
  border: 1px solid #EFEFEF;
  cursor: pointer;
}
.filter-box:nth-child(2) .default {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-left: 0;
}
.filter-box .sub-filter {
  position: absolute;
  display: none;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 3px 3px 12px 0px rgba(192, 148, 74, 0.1215686275);
}
.filter-box .sub-filter li {
  padding: 1rem 0.5rem;
}

.product-detail {
  background-color: #FDF7ED;
}
.product-detail .item-img {
  background-color: #fff;
  height: 350px;
  padding: 2.5rem;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 1rem;
  margin: 1.5rem 0;
}
.product-detail .detail-box {
  padding: 0 1rem;
}
.product-detail .detail-box .product-title {
  font-weight: 600;
}
.product-detail .detail-box .product-code {
  display: block;
  color: #ACB1C4;
  padding: 0.5rem 0;
}
.product-detail .detail-box .product-price {
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.product-detail .detail-box .product-price::after {
  width: 0;
}

.similiar-products-section {
  position: relative;
  background-color: #FDF7ED;
}
.similiar-products-section .section-head {
  padding: 1.5rem 0;
}
.similiar-products-section .section-head .text-brown::after {
  width: 10%;
  left: 0;
}

.similiar-products-swiper {
  position: static;
}
.similiar-products-swiper .swiper-button-prev {
  left: 2%;
}
.similiar-products-swiper .swiper-button-next {
  right: 3%;
}

.awards-section .award-list {
  padding: 2.5rem;
}
.awards-section .award-list li {
  padding: 1rem 0;
}
.awards-section .award-list li:not(.award-item li):not(:first-child) {
  border-top: 1px solid #C0944A;
}
.awards-section .award-list .award-item li:first-child {
  font-family: "Cinzel", serif;
  color: rgba(206, 189, 136, 0.4392156863);
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}
.awards-section .award-list .award-item li:nth-child(2) {
  padding: 0 2rem;
}
.awards-section .award-list .award-item li img {
  max-width: 300px;
}

.blog-section {
  padding: 2.5rem 0;
}
.blog-section .blog-item {
  margin: 0 1rem 3rem 0;
}
.blog-section .blog-item .blog-img {
  height: 320px;
}
.blog-section .blog-item .blog-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.blog-section .blog-item .blog-img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  top: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: 0;
}
.blog-section .blog-item .blog-date {
  padding: 1rem 0 0.5rem 0;
  color: #999999;
}
.blog-section .blog-item .blog-title {
  position: relative;
  padding-bottom: 0.5rem;
}
.blog-section .blog-item .blog-title::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #C0944A;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.blog-section .blog-item .inner-text {
  padding: 2.5rem 0 1.5rem 0;
}
.blog-section .blog-item:hover .blog-img .overlay {
  opacity: 0.3;
}
.blog-section .blog-item:hover .blog-title {
  color: #C0944A;
}
.blog-section .blog-item:hover .blog-title::after {
  width: 100%;
}

.blog-detail .section-img {
  height: 450px;
}
.blog-detail .section-img img {
  height: 100%;
  object-fit: cover;
}
.blog-detail .text-lg {
  padding: 0;
}
.blog-detail .inner-text {
  padding: 1rem 0;
}

.contact-section {
  padding: 2.5rem 0;
}
.contact-section .bg-darkbrown {
  padding-bottom: 3.5rem;
  height: 100%;
}
.contact-section .section-title {
  font-size: 1.5rem;
  padding: 1.5rem 0 0.5rem 0;
}
.contact-section .section-title::after {
  width: 25%;
  height: 2px;
  left: 38%;
  background-color: #fff;
}
.contact-section .contact-list li {
  padding: 1.25rem 0;
  color: #fff;
  transition: 0.3s;
}
.contact-section .contact-list li:hover {
  transform: scale(1.05);
}
.contact-section .contact-list li span {
  font-size: 1.25rem;
}
.contact-section .contact-list li span:first-child {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.contact-section .social-links li {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.contact-section .contact-box {
  border: 1px solid #dee2e6;
  padding: 1.8rem 0.8rem;
}
.contact-section .contact-box .form-group {
  margin-bottom: 0.5rem;
}
.contact-section .contact-box .form-group .form-control {
  border: 1px solid #eee;
  padding: 1.25rem 0.8rem;
  resize: none;
}
.contact-section .map-box {
  margin: 2rem 0;
}

@media only screen and (max-width: 768px) {
  .home-products-section .container .product-items-swiper .swiper-button-next,
  .home-products-section .container .product-items-swiper .swiper-button-prev {
    width: 30px;
    height: 30px;
    top: 13%;
  }
  .home-products-section .container .product-items-swiper .swiper-button-next::after,
  .home-products-section .container .product-items-swiper .swiper-button-prev::after {
    font-size: 20px;
  }
  .home-products-section .container .product-items-swiper .swiper-button-prev {
    left: 70%;
  }
  .home-products-section .section-head .text-brown {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .home-products-section .section-head .text-brown::after {
    width: 15%;
    left: 15%;
  }
  .blog-section .blog-item .blog-img {
    height: 250px;
  }
}
@media only screen and (max-width: 992px) {
  .d-none {
    display: none;
  }
  .nav-btn {
    display: block;
  }
  .preferences-section {
    padding: 2.5rem 0;
  }
  .main-header .bottom-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #C0944A;
    z-index: 1;
    left: 0;
    top: 0;
    transition: 0.3s;
    transform: translateX(-100%);
  }
  .main-header .bottom-nav.active {
    transform: translateX(0);
  }
  .main-header .bottom-nav .mobile-logo {
    display: flex;
    padding: 1rem;
  }
  .main-header .bottom-nav .navbar {
    flex-direction: column;
    color: #fff;
  }
  .main-header .bottom-nav .mobile-search {
    display: flex;
  }
  .main-header .bottom-nav .mobile-search .form-group {
    width: 300px;
  }
  .main-header .bottom-nav .mobile-search .form-group .btn-brown {
    width: 50px;
    height: 50px;
  }
  .main-header .bottom-nav .lang-nav li {
    color: #fff;
  }
  .main-header .bottom-nav .nav-social-links {
    display: flex;
    margin: 1rem 0;
  }
  .main-header .bottom-nav .nav-social-links li {
    color: #fff;
  }
  .text-uni-center {
    text-align: center;
  }
  .banner-bg {
    height: 500px;
  }
  .banner-bg .banner-content {
    width: 100%;
    left: 0;
    top: 10%;
  }
  .media-section .media-items .item {
    margin-bottom: 1rem;
  }
  .awards-section .award-list {
    padding: 2.5rem 0;
  }
  .awards-section .award-list .award-item {
    flex-wrap: wrap;
  }
  .awards-section .award-list .award-item li {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0.5rem 0;
  }
  .awards-section .award-list .award-item li:nth-child(2) {
    padding: 0;
  }
  .filter-box {
    margin-bottom: 1rem;
  }
  .footer-item {
    margin: 0.5rem 0;
    flex-direction: column;
    justify-content: center;
  }
  .footer-item li {
    margin-bottom: 1rem;
    margin-right: 0 !important;
    text-align: center;
  }
  .footer-section .social-links {
    justify-content: center;
    padding: 1rem;
  }
  .footer-section .social-links li {
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .banner-bg .banner-content {
    top: 25%;
  }
}